body{
    width: 100vw;
  height: 100vh;
  background-image: url("../src/assets/mountain-landscape.png");
  background-size: cover;
  overflow: hidden;
  color:white;
  display: flex;
  justify-content: center;
}